*{
    margin: 0;
    align-items: center;
    justify-content: center;
}


#pop-up{
    width: 470px;
    height: 0px;
    transition: all 0.2s ease-in 0.05s;
}

#pop-up section{
    display: flex;
    align-items: center;
    background-color: lightblue;
    gap: 5px;
}

#pop-up h3{
    text-align: left;
    width: 240px;
}

#pop-up .stretch{
    width: 200px;
    height: 30px;
    font-size: 18px;
    transition: all 0.2s ease-in 0.05s;
}

#birthday{
    width: 200px;
    height: 30px;
    font-size: 20px;
}


#submit{
    width: 200px;
    height: 50px;
    font-size: 2em;
    border-radius: 20px;
}

#delete{
    font-size: 4em;
    width: 720px;
    height: 1020px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: beige;
    top: 5%;
    left: 34%;
    position: absolute;
    padding: 10px;
    border-radius: 15px;
}

#details{
    text-align: left;
    font-size: 30px;
    width: 700px;
    height: 700px;
    background: lightblue;
    border-radius: 15px;
    padding: 10px;
}

div h1{
    font-size: 50px;
}

.select{
    width: 100px;
    height: 50px;
    font-size: 26px;
}

div .stretch{
    width: 500px;
    height: 50px;
    font-size: 26px;
    transition: all 0.2s ease-in 0.05s;
}

#birthday{
    width: 400px;
    height: 50px;
    font-size: 40px;
}

#div_gender{
    width: 300px;
    height: 100px;
    text-align: left;
    margin: auto;
    margin-top: 40px;
}

.gender{
    width: 40px;
    height: 50px;
}

div #submit{
    border-radius: 20px;
    width: 200px;
    height: 75px;
    font-size: 39px;
}
